@import './preflight.css';

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: #2f2e41;
    color: #ffffff;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
